<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <div id="menu">
        <%- include('templates/side_menu.ejs') %>
    </div>

    <div id="conteudo">
        <h1>Página Inicial</h1>
    </div>
</body>

</html>