<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Application</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <div id="menu">
        <%- include('templates/top_menu.ejs') %>
    </div>

    <div class="container_geral">
        <div class="step-title">Model Application</div>
        <div class="step-content">
        </div>
    </div>

    <div class="footer">
        Escola de Artes, Ciências e Humanidades - Universidade de São Paulo
    </div>
</body>

</html>