<h1>Seleçaõ de Características</h1>
<p>Filtre as informações mais relevantes de um conjunto de dados, eliminando aquelas que não contribuem muito para a
    tarefa. Isso melhora a eficiência e o desempenho do modelo.</p>
<a id="button1" class="button1" href="/fsManual">Seleção Manual</a>
<a id="button2" class="button2" href="/fsRecursive">Eliminação Recursiva</a>
<a id="button3" class="button3" href="/fsUnivariate">Seleção Univariada</a>